:root {
  --primary-color: #000000;
  --secondary-color: #facf00;
  --background-color: #f4f4f9;
  --title-font-size: 36px;
  --text-font-size: 18px;
  --font-family: 'Courier New', Courier, monospace;
  --border-radius: 15px;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
