html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  top: 0;
  z-index: 1000;
  font-size: 1.5rem;
  align-items: center;
}


/* Navigation */
#language-toggle {
  padding: 0 3px 0 10px;
}

.icon-container {
    display: flex;
  gap: 15px;
}

.icon-container i {
  font-size: 24px;
  cursor: pointer;
  align-items: center;
  line-height: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  min-width: 70px;
  z-index: 1;
  background-color: white;
}

.dropdown-content a {
  color: black;
  padding: 1px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: flex;
  align-items: flex-start;
}

.dropdown a img {
  padding-top: 1px;
  width: 20px;
  height: auto;
  margin-right: 5px
;}

/* Main container */
.container {
  padding-bottom: 4rem;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center; 
  margin-top: 30px;
}

#main {
  margin-bottom: 70px;
}

.logo {
  margin-right: 50px; 
}

.logo img {
  width: 600px; 
}

#logo-text {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.text-logo1 {
  text-align: left;
  font-size: 3.5rem;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.text-logo2 {
  text-align: left;
  font-size: 3.5rem;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
}

.profile-picture {
  margin-right: 15px;
  width: 200px;
  height: 200px;
  border: solid 1px #000000;
  border-radius: 100%;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}


/* Menu */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  justify-content: center; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 20px; 
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a img {
  height: 100px;
  width: auto;
}

/* CON */
.subtitle {
  width: 70%;
  font-size: 80px;
  display: block;
  padding-top: 10px;
  padding-left: 3rem;
}

.project-box {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 2rem;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #b0b0b0;
  font-size: 24px;
  color: #555;
}

#projects{
  display: block;
}