.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: stretch;
  margin: 2.5rem auto;
  padding: 20px;
  max-width: 1200px;
  max-height: 1000px;
  height: auto;
}