.content-container#about {
  padding-top: 120px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.about-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem 0 6rem;
  width: 70%;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
} 

.about-image-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: rotate(5deg);
  border-radius: 10px;
  transition: transform 0.3s ease;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.about-image-wrapper:hover .about-image {
  transform: rotate(0deg);
}
