.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  top: 0;
  z-index: 1000;
  font-size: 1.5rem;
  align-items: center;
}

.icon-container {
  display: flex;
  gap: 15px;
}

.icon-container i {
  font-size: 24px;
  cursor: pointer;
  align-items: center;
  line-height: 24px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  min-width: 70px;
  z-index: 1;
  background-color: white;
}

.dropdown-content a {
  color: black;
  padding: 1px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: flex;
  align-items: flex-start;
}

.dropdown a img {
  padding-top: 1px;
  width: 20px;
  height: auto;
  margin-right: 5px;
}