.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.project-box {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-box img {
  width: 100%;
  object-fit: cover;
}
